/* Ticker Block Styles */
.ticker {
  color: #fff;
  padding: 12px 0;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.ticker__container {
  width: 100%;
  overflow: hidden;
}

.ticker__track {
  display: inline-flex;
  gap: 60px;
  align-items: center;
}

.ticker__text {
    font-size: 81px;
    font-weight: 800;
    text-transform: uppercase;
    color: #22B0D6;
    letter-spacing: 13%;
    
    &.ticker__text-2 {
        color: #DF391C;
    }
}

/* Pause animation on hover */
.ticker:hover .ticker__track {
  animation-play-state: paused;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .ticker__text {
    font-size: 14px;
  }
  
  .ticker__track {
    gap: 40px;
  }
  
  .ticker__text:not(:last-child) {
    margin-right: 40px;
  }
}