image:
  repository: webburrito/wordpress-sage-sqlite
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: false
  hosts:
    - host: wordpress.local
      paths: ["/"]
