.home-hero {
  width: 100%;
  height: 100vh;
  position: relative;
  margin-bottom: 174px;

  &::after {
    content: '';
    width: 170px;
    height: 630px;
    @apply bg-primary;
    display: block;
    position: absolute;
    mix-blend-mode: multiply;
    right: 57px;
    left: unset;

    @media (min-width: 1025px) {
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 783px;
      margin: 167px 16.550925925926% 174px 13.310185185185%;
    }
  }

  .inner {
    position: relative;
    width: 100%;
    margin: 0 auto;
  }

  .text-wrap {
    max-width: 775px;
    position: relative;
    top: 762px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 60;

    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 106px;
      height: 2px;
      background: white;
      bottom: -8px;
      right: -49px;
    }
  }

  &__motif {
    position: absolute;
    top: 77px;
    left: 145px;
    font-size: 152px;
    font-weight: 700;
    letter-spacing: 13%;
    text-transform: uppercase;
    @apply text-secondary;
    mix-blend-mode: multiply;
    z-index: 50;
  }

  &__heading {
    font-size: 84px;
    font-weight: 700;
    letter-spacing: 13%;
    text-transform: uppercase;
    @apply text-text;
    margin-bottom: 0;
    padding: 0;
    line-height: 0.8;
  }

  &__subheading {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    @apply text-black;
    margin: 0;
  }
}
